<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/external.css') }}">    

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://kit.fontawesome.com/3b1ca000cb.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/cart.ico') }}">

    <title>Order Management</title>
</head>
<body>


    <div class="add__cutsomer" id="add__customer__add">
        <i class="fa fa-close"></i>
        <div class="form">
            <div class="take__info">
                <input id="flname" type="text" placeholder="Firstname + Lastname">
                <input id="phonenum" type="text" placeholder="Enter the phone number">
                <select name="" id="genders">
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <input id="address" type="text" placeholder="Enter the address.">
                <input id="addcustbutton" data-action = "add" type="button" value="Add Customer">
            </div>
        </div>
    </div>


    <div class="pendingtocomplted" id="pendingtocomplted">
        <i class="fa fa-close"></i>
        <div class="form">
            <div class="take__info">
                <p>Are you sure ?</p>
                <button class="surecompleted" id = "surecompletedid">Sure</button>
            </div>
        </div>
    </div>


    <div class="add__cutsomer" id="update__customer__update">
        <i class="fa fa-close"></i>
        <div class="form">
            <div class="take__info">
                <input id="flnameupdate" type="text" placeholder="Firstname + Lastname">
                <input id="phonenumupdate" type="text" placeholder="Enter the phone number">
                <select name="" id="gendersupdate">
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <input id="addressupdate" type="text" placeholder="Enter the address.">
                <input id="addcustbuttonupdate" type="button" value="Update Customer">
            </div>
        </div>
    </div>

    <div class="add__order">
        <i class="fa fa-close"></i>
        <div class="form">
            <div class="take__info">
                <select name="" id="custselect" >
                    <option value="selectfirst">Select Customer</option>
                    {% for i,j in data.customers.items() %}
                    <option value="{{i}}">{{j.0}}</option>
                    {% endfor %}
                </select>
                <select name="" id="orderitemselect" >
                    <option value="fasfs">Select Orderitems</option>
                    {% for i,j in data.ordersitems.items() %}
                    <option value="{{i}}">{{j.0}}-({{j.1}})</option>
                    {% endfor %}
                </select>
                <input type="number" id="qtyorderitem" placeholder="Enter the quantity">
                <input id="addorderbutton" type="button" value="Add Order">
            </div>
        </div>
    </div>
    
    
    <section class="header__section">
        <div class="header__section__divs">
            <div class="header__section__div">
                <div id="pendingid" class="text">
                    <h1 >Pending </h1>
                    <h3>({{data.pending}})</h3>
                </div>
            </div>
            <div class="header__section__div">
                <div id="totalid" class="text">
                    <h1>Total Orders</h1>
                    <h3>({{data.ordersize}})</h3>
                </div>
            </div>
            <div class="header__section__div">
                <div id="completedid" class="text">
                    <h1 id="completedid">Completed </h1>
                    <h3>({{data.nonpending}})</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="customer__and__orders">
        <section class="customers">
            <div class="heading__search">
                <h1 class="section__heading">Customers Information</h1>
                <a href="#" id="addcust"><div class="add__">Add Customer</div></a>
                <div class="search__">
                    <input id="searchcust" type="text" placeholder="Search by Name"> <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            
            <div class="customers__heading">
                <div><p>Ser. No. <i id="orderinitially" class="fas fa-caret-down"></i></p></div>
                <div><p>Name <i id="orderbyname" class="fas fa-caret-down"></i> </p></div>
                <div><p>Phone</p></div>
                <div><p>Address</p></div>
            </div>

            
            <div class="all__customers">

                {% for i,j in data.customers.items() %}
                <div class="customers__infos">
                    <div><p>{{i}}</p></div> 
                    <div><p custid={{i}} class="namewithgender">{{j.0}} ({{j.1}}) </p></div>
                    <div><p>{{j.2}}</p></div>
                    <div><p>{{j.3}}</p></div>
                </div>
                {% endfor %}
                
            </div>
            
        </section>

        
        <section class="orders">
            <div class="heading__search">
                <h1 class="section__heading">Orders Information</h1>
                <a href="#" id="addorder"><div class="add__">Add Order</div></a>
                <div class="search__">
                    <input id="searchorderid" type="text" placeholder="Search by name"> <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="orders__heading">
                <div><p>Order No. <i id="orderbyinitially" class="fas fa-caret-down"></i> </p></div>
                <div><p>Ordername </p></div>
                <div><p>Date Ordered <i id="orderbydate" class="fas fa-caret-down"></i> </p></div>
                <div><p>Status</p></div>
                <div><p>Ordered by <i id="orderbynameinorderstable" class="fas fa-caret-down"></i></p></div>
            </div>

            <div class="all__orders">

                {% for i,j in data.orders.items() %}
                <div class="orders__infos">
                    <div><p>{{i}}</p></div>
                    <div><p>{{j.1}} - ({{j.0}}) </p></div>
                    <div><p> {{j.2}} </p></div>
                    <div><p class="updatependingorder" orderid="{{i}}" >{{j.3}}</p></div>
                    <div><p>{{j.4}}</p></div>
                </div>
                {% endfor %}
                
            </div>

        </section>
    </section>


    <script src="{{ url_for('static',filename='js/app.js') }}"></script>

</body>
</html>
